body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;

    background-color: #f4f6f8;

    direction: rtl;
}

.app {
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.header p {
    color: #666;
    font-size: 1.1rem;
}
.primary-btn {
    background:  rgb(92, 92, 255);;

    color: white;

    border: none;

    padding: 12px 18px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;

    margin-bottom: 20px;
}
.primary-btn:hover {
    opacity: 0.9;
}